@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  background: #f2f3f5;
  color: #60646d;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}