.MemberCard {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 5px 10px 1px #f0f1f3;
    margin: 0 10px 20px 10px;
    text-align: center;
}

.MemberCard .section {
    padding: 20px;
}

.MemberCard .center {
    text-align: center;
}

.MemberCard .banner {
    background: #dce0e9;
    margin: 0 -10px;
}

.MemberCard .profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-width: 5px;
    border-style: solid;
    /* border-color: see component */
}

.MemberCard .comic {
    width: 100%;
}

.MemberCard .contact {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    /* background: see component */
}

.MemberCard .contact:hover {
    filter: brightness(105%);
}




